@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
#alert {
  position: absolute;
  width: 15%;
  height: 15%;
  margin-left: 85%;
  padding-top: 7px;
}

/*--------TEXTS--------*/
/*-------ALERTS--------*/
.alert-success {
  background-color: #dff0d8;
  border-color: rgb(207.8888888889, 232.9166666667, 197.5833333333);
  color: #3c763d;
}
.alert-success hr {
  border-top-color: rgb(192.7777777778, 225.8333333333, 179.1666666667);
}
.alert-success .icon {
  color: rgb(207.8888888889, 232.9166666667, 197.5833333333);
  font-size: 24px;
}
.alert-success .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-success p {
  color: #586770;
  font-weight: 500;
}
.alert-success div {
  font-weight: 500;
}

.alert-info {
  background-color: #d9edf7;
  border-color: rgb(187.5086956522, 223.0304347826, 240.7913043478);
  color: #31708f;
}
.alert-info hr {
  border-top-color: rgb(166.4434782609, 213.052173913, 236.3565217391);
}
.alert-info .icon {
  color: rgb(187.5086956522, 223.0304347826, 240.7913043478);
  font-size: 24px;
}
.alert-info .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-info p {
  color: #586770;
  font-weight: 500;
}
.alert-info div {
  font-weight: 500;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: rgb(249.5322580645, 242.2419354839, 203.9677419355);
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: rgb(247.064516129, 236.4838709677, 180.935483871);
}
.alert-warning .icon {
  color: rgb(249.5322580645, 242.2419354839, 203.9677419355);
  font-size: 24px;
}
.alert-warning .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-warning p {
  color: #586770;
  font-weight: 500;
}
.alert-warning div {
  font-weight: 500;
}

.alert-danger {
  background-color: #feedf2;
  border-color: rgb(252.6578947368, 212.8421052632, 224.5526315789);
  color: #a94442;
}
.alert-danger hr {
  border-top-color: rgb(251.3157894737, 188.6842105263, 207.1052631579);
}
.alert-danger .icon {
  color: rgb(252.6578947368, 212.8421052632, 224.5526315789);
  font-size: 24px;
}
.alert-danger .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-danger p {
  color: #586770;
  font-weight: 500;
}
.alert-danger div {
  font-weight: 500;
}

.active-animation .ng-move,
.active-animation .ng-enter,
.active-animation .ng-leave {
  transition: all linear 0.25s;
}
.active-animation .ng-leave.ng-leave-active,
.active-animation .ng-move,
.active-animation .ng-enter {
  opacity: 0;
  top: -10px;
}
.active-animation .ng-leave,
.active-animation .ng-move.ng-move-active,
.active-animation .ng-enter.ng-enter-active {
  opacity: 1;
  top: 0px;
}

.document-item {
  height: 120px;
  overflow: auto;
}

.document-title {
  border: #0058a9;
  border-bottom: solid;
  border-width: 1px;
}
.document-title em {
  transition: all ease 0.5s;
}
.document-title em.active {
  transform: rotate(90deg);
}

.active-animation-transform .ng-move,
.active-animation-transform .ng-enter,
.active-animation-transform .ng-leave {
  transition: all ease 0.5s;
}
.active-animation-transform .ng-leave.ng-leave-active,
.active-animation-transform .ng-move,
.active-animation-transform .ng-enter {
  height: 0px;
}
.active-animation-transform .ng-leave,
.active-animation-transform .ng-move.ng-move-active,
.active-animation-transform .ng-enter.ng-enter-active {
  height: 120px;
}

.animate-color {
  transition: background-color linear 0.2s;
}

.header {
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  text-align: center;
  background-color: #ffffff;
}

.header-menu {
  transition: all 0.06s;
  padding: 0.5rem;
}
.header-menu:hover {
  border-bottom: 2px solid #0059a9 !important;
  cursor: pointer;
}

.header-menu-active {
  padding: 0.5rem;
  border-bottom: 2px solid #0059a9 !important;
  cursor: pointer;
}

footer {
  background: linear-gradient(90deg, #000000 0, #000c2b);
  font-size: 16px;
  padding: 12px;
  color: white;
}
footer span.fa {
  width: 25px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.footer-interest {
  text-align: right;
}

body {
  height: -moz-fit-content;
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-7 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.py-7 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.w-15 {
  width: 15% !important;
}

.accordion-button div.row {
  width: 98%;
}

.brand-text {
  color: #0058a9 !important;
}

.offerings-section {
  background: url(../../src/img/fondo-griz.jpg);
  min-height: 19rem !important;
}
.offerings-section .banking-info .bank-image {
  transition: all 0.4s;
  max-width: 16rem;
}
.offerings-section .banking-info .bank-image.mobile {
  max-width: 8rem;
}
.offerings-section .banking-info .account-info {
  transition: all 0.4s;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px;
  height: 0rem;
}
.offerings-section .banking-info:hover .account-info {
  height: 6rem;
}
.offerings-section .banking-info:hover .account-info.mobile {
  height: 4rem;
}
.offerings-section .banking-info:hover .bank-image {
  max-width: 10rem;
}
.offerings-section .banking-info:hover .bank-image.mobile {
  max-width: 4rem;
}

.border-item {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-top: var(--bs-border-width) solid;
  border-top-width: 0.5em;
  border-color: #a30000;
  opacity: 1;
}

.bg-dark-blue {
  background-color: #000c2b !important;
}

.header-logo {
  height: 60px;
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
  height: 220px;
  margin-left: 4rem;
}

.building {
  width: 75%;
  height: 85%;
}

.input-icon {
  padding-left: 0%;
  margin-right: 10px;
  margin-left: -10px;
}
.input-icon i {
  color: #0058a9;
  margin-top: 42px;
}

.image-box {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  padding: 15%;
}
.image-box div {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.5s;
}
.image-box div.info-item {
  white-space: nowrap;
  overflow: hidden;
}
.image-box div.info-item.hiden {
  width: 0%;
  padding: 0%;
}
.image-box div.info-item a:hover {
  cursor: pointer;
}
.image-box.schedule-image {
  padding: 5%;
  background-image: url("../../src/img/grunge-paint-background.png");
  min-height: 300px !important;
}

.index-image {
  text-align: center;
  padding: 0%;
  height: 41vw;
  position: relative;
}
.index-image .index-text {
  position: relative;
  z-index: 200;
}
@media (min-width: 768px) {
  .index-image .index-text {
    margin-top: 6%;
  }
}
@media (min-width: 1140px) {
  .index-image .index-text {
    margin-top: 12%;
  }
}
@media screen and (max-width: 768px) {
  .index-image .index-text .index-title {
    font-size: 1.5rem;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .index-image .index-text .index-subtitle {
    font-size: 0.8rem;
  }
}
.index-image video {
  position: absolute;
  padding: 0%;
  z-index: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .index-image video {
    background-color: black;
    height: 160%;
  }
}

.card img {
  max-height: 100px;
  max-width: 100px;
}

.volume-icon {
  width: 35px;
}

.stream-box {
  background-image: url("../../src/img/fondonegro.jpg");
}
.stream-box iframe {
  width: 660px;
  height: 370px;
}

.info-header {
  background-image: url("../../src/img/wave.png");
  background-size: 100% 100%;
  padding: 3%;
  text-align: right;
  font-size: 1.5rem;
}
.info-header h1 {
  color: #000c2b;
}

#loader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: #ffffff;
  opacity: 0.6;
}

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: sticky;
  top: 30%;
  animation: utpLoader 0.7s linear infinite;
  -webkit-animation: loaderPulse 0.7s linear infinite;
  -webkit-animation: loaderRotation 1s linear infinite;
}

@keyframes loaderRotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes loaderPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.utp-loader {
  width: 150px;
  height: 150px;
}

#message-content {
  position: fixed;
  margin-left: 75%;
  z-index: 5000;
}

.message-container {
  display: block;
  border: 2px solid;
  margin-left: auto;
  margin-right: 5%;
  height: -moz-fit-content;
  height: fit-content;
  width: 320px;
  position: relative;
  border-radius: 0.5rem;
}

@font-face {
  font-family: "GothicRegular";
  src: url("../../fonts/GOTHIC.ttf") format("truetype");
}
@font-face {
  font-family: "Monterey";
  src: url("../../fonts/monterey/MontereyFLF.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  src: url("../../fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "consola";
  src: url("../../fonts/inconsolata/Inconsolata-Regular.ttf") format("truetype");
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: bold !important;
  color: #000;
}
h1.white,
h2.white,
h3.white,
.h1.white,
.h2.white,
.h3.white {
  color: #ffffff !important;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: normal !important;
  color: #000;
}
h4.white,
h5.white,
h6.white,
.h4.white,
.h5.white,
.h6.white {
  color: #ffffff !important;
}

.page-title {
  font-size: 2.5rem;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .page-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .page-title {
    font-size: 1rem;
  }
}

.name-and-slogan {
  margin-top: 30px;
  margin-left: 8px;
}

.site-slogan {
  font-family: "consola";
  font-size: 14px;
}
.site-slogan a {
  color: #000;
}

.site-name {
  font-family: "consola";
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  line-height: 1.3em;
}

.site-title {
  font-family: "consola";
}

.message-result {
  color: #2b94b3;
}

.mensaje-error {
  color: #ff0000;
  font-size: 12px;
}

.title-text {
  margin-top: 1%;
  margin-bottom: 2%;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.viewPassword::before {
  font-size: large;
  color: #0058a9;
}

.text-muted {
  color: #586770 !important;
}

.image-container {
  cursor: pointer;
  position: relative;
}
.image-container img {
  transition: all 0.5s;
}
.image-container h1 {
  transition: all 0.5s;
  color: black;
}
.image-container .image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.image-container:hover h1 {
  color: white;
}
.image-container:hover img {
  filter: grayscale(100%) blur(2px) brightness(40%);
}

.media-player {
  background-image: url("../../src/img/fondonegro.jpg");
  color: #ffffff;
  justify-content: center !important;
}
.media-player iframe {
  width: 660px;
  height: 370px;
}
@media screen and (max-width: 768px) {
  .media-player iframe {
    width: auto;
    height: auto;
  }
}
.media-player img {
  width: 56%;
}
.media-player .audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.media-player .progress {
  height: 0.5rem;
  width: 35% !important;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.fns-10 {
  font-size: 1rem;
}

.fns-11 {
  font-size: 1.1rem;
}

.fns-12 {
  font-size: 1.2rem;
}

.fns-13 {
  font-size: 1.3rem;
}

.fns-14 {
  font-size: 1.4rem;
}

.fns-15 {
  font-size: 1.5rem;
}

.fns-16 {
  font-size: 1.6rem;
}

.fns-17 {
  font-size: 1.7rem;
}

.fns-18 {
  font-size: 1.8rem;
}

.fns-19 {
  font-size: 1.9rem;
}

.fns-20 {
  font-size: 2rem;
}

.fns-21 {
  font-size: 2.1rem;
}

.fns-22 {
  font-size: 2.2rem;
}

.fns-23 {
  font-size: 2.3rem;
}

.fns-24 {
  font-size: 2.4rem;
}

.fns-25 {
  font-size: 2.5rem;
}

.fns-26 {
  font-size: 2.6rem;
}

.fns-27 {
  font-size: 2.7rem;
}

.fns-28 {
  font-size: 2.8rem;
}

.fns-29 {
  font-size: 2.9rem;
}

.fns-30 {
  font-size: 3rem;
}/*# sourceMappingURL=styles.css.map */