@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
/*
 * ALERTAS
 */
/*--------TEXTS--------*/
/*-------ALERTS--------*/
#alert {
  position: absolute;
  width: 15%;
  height: 15%;
  margin-left: 85%;
  padding-top: 7px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .icon {
  color: #d6e9c6;
  font-size: 24px;
}
.alert-success .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-success p {
  color: #586770;
  font-weight: 500;
}
.alert-success div {
  font-weight: 500;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .icon {
  color: #bce8f1;
  font-size: 24px;
}
.alert-info .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-info p {
  color: #586770;
  font-weight: 500;
}
.alert-info div {
  font-weight: 500;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .icon {
  color: #faebcc;
  font-size: 24px;
}
.alert-warning .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-warning p {
  color: #586770;
  font-weight: 500;
}
.alert-warning div {
  font-weight: 500;
}

.alert-danger {
  background-color: #feedf2;
  border-color: #fdd5e7;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #fbbdda;
}
.alert-danger .icon {
  color: #fdd5e7;
  font-size: 24px;
}
.alert-danger .alert-link {
  color: #0058a9;
  padding-left: 20px;
  text-align: left;
}
.alert-danger p {
  color: #586770;
  font-weight: 500;
}
.alert-danger div {
  font-weight: 500;
}

.active-animation .ng-move,
.active-animation .ng-enter,
.active-animation .ng-leave {
  transition: all linear 0.25s;
}
.active-animation .ng-leave.ng-leave-active,
.active-animation .ng-move,
.active-animation .ng-enter {
  opacity: 0;
  top: -10px;
}
.active-animation .ng-leave,
.active-animation .ng-move.ng-move-active,
.active-animation .ng-enter.ng-enter-active {
  opacity: 1;
  top: 0px;
}

.document-item {
  height: 120px;
  overflow: auto;
}

.document-title {
  border: #0058a9;
  border-bottom: solid;
  border-width: 1px;
}
.document-title em {
  transition: all ease 0.5s;
}
.document-title em.active {
  transform: rotate(90deg);
}

.active-animation-transform .ng-move,
.active-animation-transform .ng-enter,
.active-animation-transform .ng-leave {
  transition: all ease 0.5s;
}
.active-animation-transform .ng-leave.ng-leave-active,
.active-animation-transform .ng-move,
.active-animation-transform .ng-enter {
  height: 0px;
}
.active-animation-transform .ng-leave,
.active-animation-transform .ng-move.ng-move-active,
.active-animation-transform .ng-enter.ng-enter-active {
  height: 120px;
}

.animate-color {
  transition: background-color linear 0.2s;
}

.header {
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  text-align: center;
  background-color: #ffffff;
}

.header-menu {
  transition: all 0.06s;
  padding: 0.5rem;
}
.header-menu:hover {
  border-bottom: 2px solid #0059a9 !important;
  cursor: pointer;
}

.header-menu-active {
  padding: 0.5rem;
  border-bottom: 2px solid #0059a9 !important;
  cursor: pointer;
}

footer {
  background: linear-gradient(90deg, #000000 0, #000c2b);
  font-size: 16px;
  padding: 12px;
  color: white;
}
footer span.fa {
  width: 25px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.footer-interest {
  text-align: right;
}

body {
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-7 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.accordion-button div.row {
  width: 98%;
}

.brand-text {
  color: #0058a9 !important;
}

.offerings-section {
  background: url(../../src/img/fondo-griz.jpg);
  min-height: fit-content !important;
}
.offerings-section .banking-info .row {
  position: relative;
}
.offerings-section .banking-info .account-info {
  transition: all 0.6s;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0%;
  max-height: 0%;
  overflow: hidden;
  border-radius: 15px;
  border-color: black;
}
.offerings-section .banking-info:hover .account-info {
  border: solid;
  border-width: thin;
  max-height: 38%;
}

.header-logo {
  height: 60px;
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
  height: 220px;
  margin-left: 4rem;
}

.building {
  width: 75%;
  height: 85%;
}

.input-icon {
  padding-left: 0%;
  margin-right: 10px;
  margin-left: -10px;
}
.input-icon i {
  color: #0058a9;
  margin-top: 42px;
}

.image-box {
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  text-align: center;
  padding: 100px;
}
.image-box div {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0%;
  transition: all 0.5s;
}
.image-box div.info-item {
  white-space: nowrap;
  overflow: hidden;
  width: 49%;
}
.image-box div.info-item.hiden {
  width: 0%;
}
.image-box div.info-item a:hover {
  cursor: pointer;
}
.image-box.index-image {
  background-image: url("../../src/img/VS20-DotCom-Header.gif");
}
.image-box.schedule-image {
  padding: 50px;
  background-image: url("../../src/img/grunge-paint-background.png");
  min-height: 300px !important;
}

.card img {
  max-height: 100px;
  max-width: 200px;
}

.volume-icon {
  width: 35px;
}

.bank-image {
  max-width: 100%;
}

#loader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: #ffffff;
  opacity: 0.6;
}

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: sticky;
  top: 30%;
  animation: utpLoader 0.7s linear infinite;
  -webkit-animation: loaderPulse 0.7s linear infinite;
  -webkit-animation: loaderRotation 1s linear infinite;
}

@keyframes loaderRotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes loaderRotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes loaderPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes loaderPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.utp-loader {
  width: 150px;
  height: 150px;
}

#message-content {
  position: fixed;
  margin-left: 75%;
  z-index: 5000;
}

.message-container {
  display: block;
  border: 2px solid;
  margin-left: auto;
  margin-right: 5%;
  height: fit-content;
  width: 320px;
  position: relative;
  border-radius: 0.5rem;
}

@font-face {
  font-family: "GothicRegular";
  src: url("../../fonts/GOTHIC.ttf") format("truetype");
}
@font-face {
  font-family: "Monterey";
  src: url("../../fonts/monterey/MontereyFLF.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium";
  src: url("../../fonts/titillium-web/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "consola";
  src: url("../../fonts/inconsolata/Inconsolata-Regular.ttf") format("truetype");
}
h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: bold !important;
  color: #000;
}
h1.white, h2.white, h3.white,
.h1.white, .h2.white, .h3.white {
  color: #ffffff !important;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: normal !important;
  color: #000;
}
h4.white, h5.white, h6.white,
.h4.white, .h5.white, .h6.white {
  color: #ffffff !important;
}

.name-and-slogan {
  margin-top: 30px;
  margin-left: 8px;
}

.site-slogan {
  font-family: "consola";
  font-size: 14px;
}
.site-slogan a {
  color: #000;
}

.site-name {
  font-family: "consola";
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  line-height: 1.3em;
}

.site-title {
  font-family: "consola";
}

.message-result {
  color: #2b94b3;
}

.mensaje-error {
  color: #ff0000;
  font-size: 12px;
}

.title-text {
  margin-top: 1%;
  margin-bottom: 2%;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.viewPassword::before {
  font-size: large;
  color: #0058a9;
}

.text-muted {
  color: #586770 !important;
}

.audio-player {
  background-image: url("../../src/img/fondonegro.jpg");
  color: #ffffff;
  justify-content: center !important;
}
.audio-player img {
  width: 56%;
}
.audio-player .audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.audio-player .progress {
  height: 0.5rem;
  width: 35% !important;
}

/*# sourceMappingURL=styles.css.map */
