<ng-form name="editSongForm"
  ng-submit="">

  <div class="text-center">
    <h2>{{'global.song.edit'|translate}}</h2>
  </div>

  <div layout="row">

    <!-- AREA DE DICIÓN DE LA CANCIÓN -->
    <div flex=50>
      <div layout="column">

        <!-- TITULO -->
        <div flex=100>
          <md-input-container class="md-block">
            <label>{{'global.song.title' | translate}}</label>
            <input name="title"
              aa-label="{{'global.name' | translate}}"
              aa-label-strategy="emptyStrategy"
              aa-field-group="song.title"
              autocomplete="off"
              ng-change="showChordProParsedSong()">
          </md-input-container>
        </div>

        <!-- ARTISTA -->
        <div flex=100>
          <md-input-container class="md-block">
            <label>{{'global.song.artist' | translate}}</label>
            <input name="artist"
              aa-label="{{'global.artist' | translate}}"
              aa-label-strategy="emptyStrategy"
              aa-field-group="song.artist"
              ng-change="showChordProParsedSong()"
              autocomplete="off">
          </md-input-container>
        </div>

        <!-- NOTA -->
        <div layout="row">
          <div flex=33>
            <md-input-container>
              <label>Nota</label>
              <md-select ng-model="song.key"
                ng-change="showChordProParsedSong()">
                <md-option ng-value="item.name"
                  ng-repeat="item in 'musicNotesSelect'|bgValue">{{item.name}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex=33>
            <md-button ng-click="transpose(-1)"><<--</md-button>
          </div>
          <div flex=33>
            <md-button ng-click="transpose(1)">-->></md-button>
          </div>
        </div>

        <!-- CODIGO CHORPRO -->
        <div flex=100>
          <md-input-container class="md-block">
            <label>{{'global.chordpro.code' | translate}}</label>
            <textarea ng-model="song.chordpro"
              ng-change="showChordProParsedSong()"></textarea>
          </md-input-container>
        </div>

      </div>
    </div>

    <!-- VISTA PREVIA DE LA CANCION -->
    <div flex="50">
      <div layout="column"
        ng-show="!(chordproSongHtml | isEmpty)">

        <div layout="row">
          <div flex=25
            ng-if="newKey">

            <md-input-container>
              <label>Nota</label>
              <md-select ng-model="newKey.note.letter"
                placeholder="Select a state"
                ng-change="transpose()">
                <md-option ng-value="item.id"
                  ng-repeat="item in 'musicNotes'|bgValue">{{item.name}}</md-option>
              </md-select>
            </md-input-container>

          </div>

          <div flex=25
            ng-if="newKey">

            <md-input-container>
              <label>Nota</label>
              <md-select ng-model="newKey.note.accidental"
                placeholder="Select a state"
                ng-change="transpose()">
                <md-option ng-value="item.id"
                  ng-repeat="item in 'accidentals'|bgValue">{{item.name}}</md-option>
              </md-select>
            </md-input-container>

          </div>

        </div>

        <div flex=100>
          <label>{{'global.preview' | translate}}</label>
          <h4 id="chordelement"></h4>
        </div>

      </div>
    </div>

</ng-form>