$main-color : #4e2604;
$main-color-active : #bb5801;
$main-color-transparent: rgba(152, 77, 15, 0.26);
$footer-background: #88b5de;
$black: #000;
$prueba-color: #00a232;
$item-hover: #dceaff;
$skyblue:#2b94b3;
$red: #ff0000;
$white:#ffffff;
$muted: #6c757d;
$input-border: rgba(0, 0, 0, 0.26);

/*--------TEXTS--------*/
$gray:  #586770;

/*-------ALERTS--------*/
$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #feedf2 !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
