<!-- Video en vivo -->
<div class="row media-player">
  <div class="col-md-12 text-center my-6">
    <div class="col-md-12 mb-4">
      <h2 class="white">Transmisión en vivo</h2>
    </div>
    <iframe width="660" height="370" src="https://www.youtube.com/embed/MfV32phI430?si=PEoEIXeXc5EUOWcb&amp;start=4460"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="col-md-12 mt-4">
      <a type="button" class="btn btn-outline-light"
        href="https://www.youtube.com/@Primeraiglesiabautistadepanama/streams" target="_blank">Ver anteriores</a>
    </div>

  </div>
</div>