<div class="row">
  <div class="col-md-12">
    <div class="row footer-guia">

      <div class="col-md-2 d-flex justify-content-center">
        <img class="footer-logo"
          src="src/img/logo.png "
          alt="iglesia-logo"> </img>
      </div>

      <div class="col-md-4 footer-info">
        <div class="row">

          <div class="col-md-12 py-1">
            <a href="https://goo.gl/maps/62FkMjtxbj5BVZLn6"
              target="_blank"><span class="fa fa-map-marker-alt"></span>
              Ave. Cuba y Callle 27 Rep. de Panamá
            </a>
          </div>

          <div class="col-md-12 py-1">
            <a href="tel:+5072251782">
              <span class="fa fa-phone"></span>
              +507 225-1782
            </a href="">
          </div>

          <div class="col-md-12 py-1">
            <a href="mailto:info@bautistadepanama.org">
              <span class="fa fa-mail-bulk"></span>
              info@bautistadepanama.org
            </a>
          </div>

          <div class="col-md-6 py-1">
            <div class="row">
              <div class="col">
                <a class="fa-brands fa-twitter"
                  href="https://twitter.com/bautistapanama"
                  target="_blank"></a>
              </div>
              <div class="col">
                <a class="fa-brands fa-instagram"
                  href="https://www.instagram.com/ctr_180/"
                  target="_blank"></a>
              </div>
              <div class="col">
                <a class="fa-brands fa-facebook"
                  href="https://www.facebook.com/PrimeraIglesiaBautistaDePanama/"
                  target="_blank"></a>
              </div>
              <div class="col">
                <a class="fa-brands fa-youtube"
                  href="https://www.youtube.com/channel/UCYufUQeVRxZZcDcnaBX1R1A"
                  target="_blank"></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 footer-interest">
        <div class="row">
          <div class="col-md-12 py-1">
            <a href="https://cbpanama.org/"
              target="_blank">Convención Bautista de Panamá</a>
          </div>
          <div class="col-md-12 py-1">
            <a href="https://stbdp.com/"
              target="_blank">Seminario teológico Bautista</a>
          </div>
          <div class="col-md-12 py-1">
            <a href="https://cbpanama.org/Tienda/"
              target="_blank">Librería Bautista de Panamá</a>
          </div>
          <div class="col-md-12 py-1">
            <a href="https://paam.global/"
              target="_blank">Panameños Alcanzando al Mundo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>