<div class="row container-fluid">
  <div class="col-md-12">
    <div class="row footer-guia">

      <div class="col-md-1">
        <img class="header-logo" src="src/img/logo.png"> </img>
      </div>

      <div class="col-md-5 footer-info">
        <p>
          Primera Igesia Bautista de Panamá - {{mctrl.fullYear}}<br />
          Ave. Cuba u calle 27, Calidonia<br />
          {{'footer.utp.campus'|translate}}<br />
          {{'footer.utp.phone'|translate}}<br />
        </p>
      </div>
      <div class="col-md-6 footer-interest">
        <a href="">Sistema de Gestión de trabajos de Graduación</a><br>
        <a href="http://www.investigadores.utp.ac.pa" target="_blank">Sistema de Información Científica de la
          UTP</a><br>
        <a href="http://www.utp.ac.pa" target="_blank">{{'utp.name'|translate}}</a><br>
        <a href="http://revistas.utp.ac.pa/" target="_blank">Revistas AcadémicasUTP</a>
      </div>
    </div>
  </div>
</div>