<div class="row mt-3 mb-3">
  <div class="col-md-12">
    <img class="footer-logo pl-5"
      src="src/img/logo-blanco.png "
      alt="iglesia-logo"> </img>
  </div>
</div>

<div class="row mx-5">
  <div class="col-md-12">
    <div class="row footer-guia">

      <div class="col-md-6 footer-info">
        <div class="row">

          <div class="col-md-12 py-3">
            <a href="https://goo.gl/maps/62FkMjtxbj5BVZLn6"
              target="_blank"><span class="fa fa-map-marker-alt brand-text text-center"></span>
              Ave. Cuba y Callle 27 Rep. de Panamá
            </a>
          </div>

          <div class="col-md-12 py-3">
            <a href="tel:+5072251782">
              <span class="fa fa-phone brand-text text-center"></span>
              +507 225-1782
            </a href="">
          </div>

          <div class="col-md-12 py-3">
            <a href="mailto:info@bautistadepanama.org">
              <span class="fa fa-mail-bulk brand-text text-center"></span>
              info@bautistadepanama.org
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-6 footer-interest">
        <div class="row">
          <div class="col-md-12 py-2">
            <a href="https://cbpanama.org/"
              target="_blank">Convención Bautista de Panamá</a>
          </div>
          <div class="col-md-12 py-2">
            <a href="https://stbdp.com/"
              target="_blank">Seminario teológico Bautista</a>
          </div>
          <div class="col-md-12 py-2">
            <a href="https://cbpanama.org/Tienda/"
              target="_blank">Librería Bautista de Panamá</a>
          </div>
          <div class="col-md-12 py-2">
            <a href="https://paam.global/"
              target="_blank">Panameños Alcanzando al Mundo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-5">
  <div class="col-md-3 d-flex fs-2 justify-content-around">
    <a class="fa-brands fa-twitter"
      href="https://twitter.com/bautistapanama"
      target="_blank"></a>
    <a class="fa-brands fa-instagram"
      href="https://www.instagram.com/ctr_180/"
      target="_blank"></a>
    <a class="fa-brands fa-facebook"
      href="https://www.facebook.com/PrimeraIglesiaBautistaDePanama/"
      target="_blank"></a>
    <a class="fa-brands fa-youtube"
      href="https://www.youtube.com/channel/UCYufUQeVRxZZcDcnaBX1R1A"
      target="_blank"></a>
  </div>
</div>