footer {
  background-color: $footer-background;
  font-size: 16px;
  padding: 12px;
  color: white;

  span{
    &.fa{
      width: 20px;
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-info {}

.footer-interest {
  text-align: right;
}