footer {
  background: linear-gradient(90deg, #000000 0, #000c2b);
  font-size: 16px;
  padding: 12px;
  color: white;

  span {
    &.fa {
      width: 25px;
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-interest {
  text-align: right;
}