body {
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-7 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.accordion-button {
  div {
    &.row {
      width: 98%;
    }
  }

}

.brand-text {
  color: $main-color !important;
}

.offerings-section {
  background: url(../../src/img/fondo-griz.jpg);
  min-height: fit-content !important;

  .banking-info {

    .row {
      position: relative;
    }

    .account-info {
      transition: all 0.6s;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      bottom: 0%;
      max-height: 0%;
      overflow: hidden;
      border-radius: 15px;
      border-color: black;
    }

    &:hover {
      .account-info {
        border: solid;
        border-width: thin;
        max-height: 38%;
      }
    }
  }
}