body {
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

.my-6 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-7 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.accordion-button {
  div {
    &.row {
      width: 98%;
    }
  }

}

.brand-text {
  color: $main-color !important;
}

.offerings-section {
  background: url(../../src/img/fondo-griz.jpg);
  min-height: fit-content !important;

  .banking-info {

    .bank-image {
      transition: all 0.4s;
      max-width: 16rem;
    }

    .account-info {
      transition: all 0.4s;
      background-color: rgba(255, 255, 255, 1);
      overflow: hidden;
      border-radius: 5px;
      height: 0rem;
    }

    &:hover {
      .account-info {
        height: 6rem;
      }

      .bank-image {
        max-width: 10rem;
      }
    }
  }
}