.header {
  align-items: center !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  text-align: center;
  background-color: $white;
}

.header-menu {
  transition: all 0.06s;
  padding: 0.5rem;

  &:hover {
    border-bottom: 2px solid #0059a9 !important;
    cursor: pointer;
  }
}

.header-menu-active {
  padding: 0.5rem;
  border-bottom: 2px solid #0059a9 !important;
  cursor: pointer;
}