@use "variables/colores" as *;

.header-logo {
  height: 60px;
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
  height: 220px;
  margin-left: 4rem;
}

.building {
  width: 75%;
  height: 85%;
}

.input-icon {
  padding-left: 0%;
  margin-right: 10px;
  margin-left: -10px;

  i {
    color: $main-color;
    margin-top: 42px;
  }

}

.image-box {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
  padding: 15%;

  div {
    color: $white;
    font-size: 2.5rem;
    font-weight: 700;
    transition: all 0.5s;

    &.info-item {
      white-space: nowrap;
      overflow: hidden;

      &.hiden {
        width: 0%;
        padding: 0%;
      }

      a:hover {
        cursor: pointer;
      }

    }
  }

  &.schedule-image {
    padding: 5%;

    background-image: url("../../src/img/grunge-paint-background.png");
    min-height: 300px !important;
  }

}

.index-image {
  text-align: center;
  padding: 0%;
  height: 41vw;

  .index-text{
    position: relative;
    z-index: 200;
    @media (min-width: 768px) {
      margin-top: 6%;
    }
    @media (min-width: 1140px) {
      margin-top: 12%;
    }
  }

  video {
    position: absolute;
    padding: 0%;
    z-index: 0;
  }
}

.card {
  img {
    max-height: 100px;
    max-width: 200px;
  }
}

.volume-icon {
  width: 35px;
}