#loader-content{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-color: $white;
  opacity: 0.6;
}

.logo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  position: sticky;
  top: 30%;
  animation: utpLoader 0.7s linear infinite;
  -webkit-animation: loaderPulse 0.7s  linear infinite;
  -webkit-animation: loaderRotation 1s linear infinite;
}

@keyframes loaderRotation {
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(360deg);}
}

@-webkit-keyframes loaderRotation {
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(360deg);}
}

@keyframes loaderPulse {
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
}

@-webkit-keyframes loaderPulse {
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
}


.utp-loader{
  width: 150px;
  height: 150px;
}

#message-content{
  position: fixed;
  margin-left: 75%;
  z-index: 5000;
}

.message-container {
  display: block;
  border: 2px solid;
  margin-left: auto;
  margin-right: 5%;
  height: fit-content;
  width: 320px;
  position: relative;
  border-radius: 0.5rem;
}


